*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(61, 14, 41);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
}

ul{
    list-style: none;
    text-decoration: none;
}

ol{
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    margin-left: 0.5em;
}

a{
    text-decoration: none;
}


nav{
    font-weight: bold;
    background-color: rgb(233, 119, 172);
    display: flex;
    justify-content: space-between;
    height: 15vh;
    color: dimgray
}


.left-nav, .right-nav{
    margin-top: 20px;
}


.left-nav ul{
    font-size: 2em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 20.5em;
    text-align: left;
 }

 .left-nav img{
    text-align: justify;
 }

 .right-nav ul{
    display: flex;
    list-style: none;
    margin-right: 3.5em;
 }

      
 #accessories{
     font-size: 1em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #accessories h2{
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5px;
 }

 #accessories p{
     font-size: 1em;
     margin: 0.5em;
 }


 #accessories img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
 }


 #bridals{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bridals h2{
   font-size: 2.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 1em;
   margin-bottom: 0.5px;
}

#bridals p{
    font-size: 1em;
    margin: 0.5em;
}


#bridals img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}

.wedding-gowns img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}

.tiara-and-viels img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}

.bridesmaid img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}

.event-dresses img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}


#jewelries{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#jewelries h2{
   font-size: 2.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 1em;
   margin-bottom: 0.5px;
}

#jewelries p{
    font-size: 1em;
    margin: 0.5em;
}


#jewelries img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;;
}


#african-prints{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#african-prints h2{
   font-size: 2.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 1em;
   margin-bottom: 0.5px;
}

#african-prints p{
    font-size: 1em;
    margin: 0.5em;
}


#african-prints img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}


#lingeries{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lingeries h2{
   font-size: 2.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 1em;
   margin-bottom: 0.5px;
}

#lingeries p{
    font-size: 1em;
    margin: 0.5em;
}


#lingeries img{
    width: 320px;
    flex-wrap: wrap;
    height: 25em;
    margin: 1em;
    padding: 1em;
}










































.tables {
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid dimgray;
    font-family: arial, sans-serif;
    width: 100%;
}


td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
}
      
tr:nth-child(even) {
        background-color: #e6d1d1;
 }


